In [1058]:
import pandas as pd

In [1059]:
stats = pd.read_csv("Player_MVP_Stats.csv")

In [1060]:
stats

,Unnamed: 0,Player,Pos,Age,Tm_x,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,14087,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14088,14088,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14089,14089,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14090,14090,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14091,14091,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [1061]:
del stats["Unnamed: 0"]

In [1062]:
del stats["Tm_y"]

In [1063]:
stats[pd.isnull(stats["3P%"])][["Player", "3PA"]].head()

             Player  3PA
2    Elden Campbell  0.0
3     Irving Thomas  0.0
18       Jack Haley  0.0
20      Keith Owens  0.0
30  Benoit Benjamin  0.0

In [1064]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]].head()

              Player  FTA
77        John Coker  0.0
92      Jason Sasser  0.0
103  Adrian Caldwell  0.0
119     Bruno Šundov  0.0
158   Jamal Robinson  0.0

In [1065]:
stats = stats.fillna(0)

In [1066]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm_x', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Season',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [1067]:
predictors = [ 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%','3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Season','W', 'L', 'W/L%', 'GB', 'PS/G','PA/G', 'SRS']

In [1068]:
train = stats[~(stats["Season"] ==  2020)]
test = stats[stats["Season"] == 2020]

In [1069]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.05)

In [1070]:
reg.fit(train[predictors],train["Share"])

Ridge(alpha=0.05)

In [1071]:
predictions = reg.predict(test[predictors])
predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)

In [1072]:
predictions

       predictions
611       0.019102
612      -0.028112
613      -0.000587
614      -0.013359
615       0.006011
...            ...
13061     0.005060
13062     0.034073
13063     0.010095
13064     0.010715
13065     0.010621

[529 rows x 1 columns]

In [1073]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [1074]:
combination.sort_values("Share", ascending=False).head(20)

                      Player  Share  predictions
12314  Giannis Antetokounmpo  0.952     0.230317
3720            LeBron James  0.746     0.150578
9651            James Harden  0.363     0.177926
9280             Luka Dončić  0.198     0.162826
5311           Kawhi Leonard  0.166     0.126628
3708           Anthony Davis  0.081     0.141738
1370              Chris Paul  0.026     0.074584
7447          Damian Lillard  0.023     0.124477
11369           Nikola Jokić  0.018     0.099451
13058          Pascal Siakam  0.017     0.073752
6077            Jimmy Butler  0.009     0.089885
11600           Jayson Tatum  0.001     0.072726
10763           Derrick Rose  0.000     0.049286
10760         Brandon Knight  0.000    -0.002286
10761            Bruce Brown  0.000    -0.012625
10762         Christian Wood  0.000     0.051740
10766            Jordan Bone  0.000    -0.001485
10764         Derrick Walton  0.000    -0.012866
10765            John Henson  0.000     0.010794
10767           Jordan McRae  0.000     0.014485

In [1075]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["predictions"])

0.0025005087759588387

In [1076]:
combination = combination.sort_values("Share", ascending=False)
combination["Rk"] = list(range(1,combination.shape[0]+1))

In [1077]:
combination.head(10)
#actual rank

                      Player  Share  predictions  Rk
12314  Giannis Antetokounmpo  0.952     0.230317   1
3720            LeBron James  0.746     0.150578   2
9651            James Harden  0.363     0.177926   3
9280             Luka Dončić  0.198     0.162826   4
5311           Kawhi Leonard  0.166     0.126628   5
3708           Anthony Davis  0.081     0.141738   6
1370              Chris Paul  0.026     0.074584   7
7447          Damian Lillard  0.023     0.124477   8
11369           Nikola Jokić  0.018     0.099451   9
13058          Pascal Siakam  0.017     0.073752  10

In [1078]:
actual = combination.sort_values("Share", ascending=False)
predicted = combination.sort_values("predictions", ascending=False)
actual["Rk"] = list(range(1,actual.shape[0]+1))
predicted["Predicted_Rk"] = list(range(1,combination.shape[0]+1))
combination = combination.sort_values("predictions", ascending = False)
combination["Predicted_Rk"]=list(range(1,combination.shape[0]+1))

In [1079]:
combination.sort_values("Share", ascending = False).head(10)

                      Player  Share  predictions  Rk  Predicted_Rk
12314  Giannis Antetokounmpo  0.952     0.230317   1             1
3720            LeBron James  0.746     0.150578   2             4
9651            James Harden  0.363     0.177926   3             2
9280             Luka Dončić  0.198     0.162826   4             3
5311           Kawhi Leonard  0.166     0.126628   5             6
3708           Anthony Davis  0.081     0.141738   6             5
1370              Chris Paul  0.026     0.074584   7            27
7447          Damian Lillard  0.023     0.124477   8             7
11369           Nikola Jokić  0.018     0.099451   9            13
13058          Pascal Siakam  0.017     0.073752  10            29

In [1080]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0
    seen = 1
    for index,row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found / seen)
        seen += 1

    return sum(ps) / len(ps)

In [1081]:
find_ap(combination)

0.9666666666666666

In [1082]:
seasons = list(range(1991,2021))

In [1083]:
aps = []
all_predictions = []
for season in seasons[1:]:
    train = stats[stats["Season"] < season]
    test = stats[stats["Season"] == season]
    reg.fit(train[predictors],train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [1084]:
sum(aps) / len(aps)

0.735103760417296

In [1085]:
def add_ranks(combination):
    combination = combination.sort_values("predictions", ascending=False)
    combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))
    combination = combination.sort_values("Share", ascending=False)
    combination["Rk"] = list(range(1,combination.shape[0]+1))
    combination["Diff"] = (combination["Rk"] - combination["Predicted_Rk"])
    return combination

In [1086]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"]<5].sort_values("Diff",ascending=False)

                Player  Share  predictions  Predicted_Rk  Rk  Diff
9953    Michael Jordan  0.577     0.205523             1   3     2
12621  Hakeem Olajuwon  0.660     0.182190             3   2    -1
8229     Patrick Ewing  0.366     0.118769             6   4    -2
12801  Charles Barkley  0.852     0.164488             4   1    -3

In [1087]:
def crosstest(stats, model, seasons, predictors):
    aps = []
    all_predictions = []
    for season in seasons:
        train = stats[stats["Season"] < season]
        test = stats[stats["Season"] == season]
        model.fit(train[predictors],train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [1088]:
mean_ap, aps, all_predictions = crosstest(stats, reg, seasons[5:], predictors)

In [1089]:
mean_ap

0.7088949652586666

In [1090]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Season"]].groupby("Season").apply(lambda x: x/x.mean())

In [1091]:
stat_ratios

            PTS       AST       STL       BLK        3P  Season
0      1.013334  0.420714  0.961127  0.673469  0.508587     1.0
1      1.614653  1.028412  1.647646  0.673469  4.577279     1.0
2      0.311795  0.093492  0.274608  1.571429  0.000000     1.0
3      0.200440  0.186984  0.274608  0.000000  0.000000     1.0
4      2.383005  1.636110  1.784950  0.897959  1.525760     1.0
...         ...       ...       ...       ...       ...     ...
14087  0.735752  0.819562  0.479763  1.528302  0.650951     1.0
14088  0.071202  0.000000  0.000000  0.000000  0.130190     1.0
14089  1.281633  0.601012  1.119447  2.547170  0.520761     1.0
14090  0.474679  0.218550  0.319842  1.273585  0.650951     1.0
14091  1.008693  0.655649  1.119447  0.509434  2.343424     1.0

[14092 rows x 6 columns]

In [1092]:
stats[["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [1093]:
stats.head()

,Player,Pos,Age,Tm_x,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,PTS_T,AST_R,STL_R,BLK_R,3P_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.707,5.0,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.707,5.0,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.707,5.0,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.707,5.0,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.707,5.0,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760

In [1094]:
predictors += [ "AST_R", "STL_R", "BLK_R", "3P_R","FG%"]
#added fg%

In [1097]:
# from year from 2019 to 2020

from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100, random_state=1, min_samples_split=4)

mean_ap, aps, all_predictions = crosstest(stats, rf, seasons[28:], predictors)

In [1098]:
mean_ap

0.8821428571428571